<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin: Timesheets</title>
    <link rel="stylesheet" href="{{ static_url("attendance.css") }}">
    <link rel="stylesheet" href="{{ static_url("caleandarTheme1.css") }}">
  </head>
  <body>

    <div id="query">

    </div>
    <div id="result">
      Result
    </div>
  </body>

  <script src="{{ static_url("jquery-3.6.0.min.js") }}"></script>
  <script src="{{ static_url("caleandar.js") }}"></script>
  <script src="{{ static_url("students.js") }}"></script>
  <script src="{{ static_url("inventory.js") }}"></script>
  <script src="{{ static_url("attendance.js") }}"></script>
  <script src="{{ static_url("admin-ws-client.js") }}"></script>

</html>
