<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makerspace Attendance</title>
    <link rel="stylesheet" href="{{ static_url("attendance.css") }}">
    <link rel="stylesheet" href="{{ static_url("caleandarTheme1.css") }}">

    <!-- <script type="text/javascript" scr='jquery-3.6.0.min.js'></script>
    <script type="text/javascript" src="students.js"></script> -->

  </head>
  <body>
    hi
    <div id="students">

    </div>
    <hr>
    <div id="byGrade">

    </div>

  </body>

  <!-- <script type="text/javascript" src="attendance.js"></script> -->
  <!-- Scripts -->
  <script src="{{ static_url("jquery-3.6.0.min.js") }}"></script>
  <script src="{{ static_url("caleandar.js") }}"></script>
  <script src="{{ static_url("students.js") }}"></script>
  <script src="{{ static_url("inventory.js") }}"></script>
  <script src="{{ static_url("attendance.js") }}"></script>
  <script src="{{ static_url("ws-client.js") }}"></script>


</html>
